@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --global-font-family-primary: "Inter";
    --radius-sm: 4px;
    --color-primary-main: #0f172a;
}
