@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --global-font-family-primary: "Inter";
    --radius-sm: 4px;
    --color-primary-main: #0f172a;
}

vd-document::part(instructions_slide_box_title) {
    font-size: 30px;
    font-weight: 500;
    color: #0f172a;
    text-align: left;
}

vd-document::part(instructions_slide_box_subtitle) {
    font-size: 16px;
    font-weight: 400;
    color: #0f172a;
    text-align: left;
}

vd-document::part(instructions_slide_button) {
    background: #0f172a;
    color: #ffffff;
    font-family: Inter;
    font-size: 14px;
    height: 40px;
    padding: 0 16px 0 16px;
    border-radius: 4px;
    margin-top: -250px;
}

vd-document::part(guide_modal) {
    top: -100px;
}

vd-document::part(guide_modal) {
    top: -100px;
}

.button.secondary {
    box-shaddow: none;
    background: #0f172a;
    color: #ffffff;
    font-family: Inter;
    font-size: 14px;
    height: 40px;
    padding: 0 16px 0 16px;
    border-radius: 4px;
}

.selection-item {
    box-shaddow: none;
}

button::part(review_image_message_buttons_repeat) {
    background: #dae6ee;
    color: #0f172a;
    font-family: Inter;
    font-size: 14px;
    height: 40px;
    padding: 0 16px 0 16px;
    border-radius: 4px;
}
