@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --global-font-family-primary: "Inter";
    --radius-sm: 4px;
    --global-style-border-radius-3: 4px;
    --color-primary-main: #0f172a;
    --global-spacing-size-0: 10px;
    --base-grid: 16px;
    --global-spacing-size-15: 48px;
    --global-spacing-size-10: 16px;
    --global-elevation-level-02: 0;
    --global-elevation-level-04: 0;
    --global-typography-font-size-150: 20px;
    --specific-color-background-default: #0f172a;
    --selection-item-text-color: #ffffff;
    --content-wrapper-width: 500px;
}

vd-document::part(instructions_slide_box_title) {
    font-size: 30px;
    font-weight: 500;
    color: #0f172a;
    text-align: left;
}

vd-document::part(instructions_slide_box_subtitle) {
    font-size: 16px;
    font-weight: 400;
    color: #0f172a;
    text-align: left;
}

vd-document::part(instructions_slide_button) {
    background: #0f172a;
    color: #ffffff;
    font-family: Inter;
    font-size: 20px;
    height: 60px;
    padding: 0 16px 0 16px;
    border-radius: 4px;
    width: 200px;
}

vd-guide-modal::part(guide_modal) {
    height: 75%;
    top: -100px;
}

vd-selection-item::global(.selection-item) {
    box-shaddow: none;
}

vd-document::part(review_image_message_buttons_repeat) {
    background: #dae6ee;
    color: #0f172a;
    font-family: Inter;
    font-size: 14px;
    height: 40px;
    padding: 0 16px 0 16px;
    border-radius: 4px;
}

vd-document::part(review_image_message_buttons_continue) {
    background: #0f172a;
    color: #ffffff;
    font-family: Inter;
    font-size: 14px;
    height: 40px;
    padding: 0 16px 0 16px;
    border-radius: 4px;
}

vd-document::part(display_message) {
    background: #0f172a;
}

vd-document::part(display_message_text) {
    color: #ffffff;
}

vd-document::part(display_message_media){
    display: none;
}

vd-video::part(instructions_slide_button) {
    background: #0f172a;
    color: #ffffff;
    font-family: Inter;
    font-size: 20px;
    height: 60px;
    padding: 0 16px 0 16px;
    border-radius: 4px;
    width: 200px;
}
